<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome <%- name %> </title>
</head>
<body>
    <h1>NASA Photo/Video Searcher</h1>
    <h2>Welcome, <%- name %> </h2>
    <h3>To search for images click <a href="/search">here</a></h3>
    <h3>To view your saved images click <a href="/saved">here</a></h3>
    
</body>
</html>