<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASA Image/Video Library</title>
</head>
<body>
    <h1>Welcome to the NASA Image/Video Library</h1>
    <h2>The NASA Image/Video Library allows you to search for and save your favorite publicly available images from NASA</h2>
    <h3>Enter your name and email to get started</h3>
    <form action="/login" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">

        <label for="email">Email Address: </label>
        <input type="email" name="email" id="email">
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>